<!DOCTYPE html>
<html lang="en">

<div class="container-fluid">


  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <div class="page-header">
  <h1>Q&A <small>a question and answer forum</small></h1>
      </div>
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @qnas.each do |qna| %>
      <tr>
        <td><%= qna.question %></td>
        <td><%= qna.answer %></td>
        <div class="btn-group">

        <td><button class="btn-info"><%= link_to 'Show', qna %></button></td>
        <td><button class="btn-info"><%= link_to 'Edit', edit_qna_path(qna) %></button></td><td><button class="btn-danger"><%= link_to 'Destroy', qna, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td><button class="btn-success"><%= link_to 'New Qna', new_qna_path %></button></td>
      <!--Body content-->
    </div>
  </div>

  ...
</html>
