<p id="notice"><%= notice %></p>
<%= link_to 'Home', root_path %><br /><br />
<%= link_to "See more of your questions", users_show_path %>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
  <tr>
    <td><%= @qna.question %></td>
    <td><%= @qna.answer %></td>
  </tr>
</table>

<ul><% @qna.users.each do |user|%>
  <li><%= user.email %>
  </li>
<% end %>
</ul>


<%= link_to 'Edit', edit_qna_path(@qna) %> |
<%= link_to 'Back', qnas_path %>
