<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @qna.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @qna.answer %>
</p>

<ul><% @qna.users.each do |user|%>
  <li><%= user.email %>
  </li>
<% end %>
</ul>


<%= link_to 'Edit', edit_qna_path(@qna) %> |
<%= link_to 'Back', qnas_path %>
